<%- include('./includes/head.ejs') %>
<main>
  <div class="url-box">
    <form class="form">
      <div class="form-group">
        <label for="inputUrl" class="form-label">URL</label>
      </div>
      <div class="form-group d-flex">
        <input
          type="text"
          class="form-control"
          name="orgUrl"
          id="inputUrl"
          placeholder="Enter URL"
          value="<%= url%>"
        />
        <div class="form-submit">
          <button class="btn" onclick="copyURL()">CopyURL</button>
        </div>
      </div>
    </form>
    <a href="<%= pathHome%>">Other URL</a>
  </div>
</main>
<script>
  function copyURL() {
    var formElement = document.querySelector(".form");
    formElement.onsubmit = (e) => e.preventDefault();

    var copyText = document.getElementById("inputUrl");
    copyText.select();
    navigator.clipboard.writeText(copyText.value);
  }
</script>
<%- include('./includes/end.ejs')%>
